<!-- 
{{product.name}}
{{product.des}}
{{product.category}}
{{product.price}}
{{product.image}} -->

<app-header></app-header>
<div class="whole">
    <div class="image">
        <!-- {{product.image}} -->
        <img class="image-show" src="{{product.image}}" alt="">
    </div>
    <div class="body">
        <div class="name">
            {{product.name}}
        </div>
        <div class="description">
            {{product.des}}
        </div>
        <div class="category">
            <p>Category:{{product.category}}</p>
        </div>
        <div class="price">
            <p>Price:Rs {{product.price}}</p>
        </div>
        <button class="btn btn-primary add-btn" (click)="handleaddtocart()"> Add to cart</button>
        
    </div>
</div>