sidebar__hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logout {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: red;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .logout:hover {
    background: rgba(255, 0, 0, 0.829);
  }
  .row1{
   
    width:100%;
    margin-top: 100px;
}
.col-4{
    margin-top: 40px;
}

.cart-empty{
  width: 100%;
}

.cart-full{
  width: 100%;
}

.total{
  /* background-color: blueviolet; */
  width: 150px;
  height: 40px;
  font-size: 15px;
}