<!-- <img src="../assets/LogIn.png" alt="" height="100%" width="80%"> -->
<!-- 
<div class="whole">
  <div class="right">
    <h2 class="text">LogIn</h2>
    <p class="para-text">Please LogIn to Continue</p>
    <form>
      <input class="email" type="text" name="" id="" placeholder="Enter Email"> -->
      <!-- <br> -->
      <!-- <input class="password" type="text" name="" id="" placeholder="Enter Password"> -->
      <!-- <br> -->
      <!-- <div class="hr"></div>
      <button class="login" type="submit">LogIn</button>
    </form>
    <button class="signup">New User : SignUp</button>
  </div>
</div> -->

<!-- <app-login></app-login> -->
<!-- <app-home></app-home> -->
<!-- <app-landing></app-landing> -->
<!-- <app-admin></app-admin> -->
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-box">
  <a class="navbar-brand app-name" href="#">BuyIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link home-btn" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link login-signup-btn" routerLink="/login-signup">LogIn/SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart-btn" routerLink="/cart">Cart</a>
      </li>
    </ul>
  </div>
</nav> -->

<router-outlet></router-outlet>

