.whole{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
    background-image: url(../../../assets/LogIn.png);
}

.text{
    position: absolute;
    font-family: monospace;
    font-size: 40px;
    left: 125px;
    top: 40px;
}

.right{
    position: absolute;
    width: 30%;
    height: 80%;
    background-color: white;
    right: 80px;
    top: 55px;
    border-radius: 25px;
    border: 4px solid black;
}

.email{
    position: absolute;
    left: 30px;
    top: 170px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    border: 2px solid black;
}

.email-error{
    position: absolute;
    left: 30px;
    top: 210px;
    color: red;
}

.password{
    position: absolute;
    top: 230px;
    left: 30px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    border: 2px solid black;
}

.password-error{
    position: absolute;
    left: 30px;
    top: 270px;
    color: red;
}

.login{
    position: absolute;
    top: 325px;
    left: 30px;
    width: 80%;
    height: 40px;
    font-size: 25px;
    font-family: monospace;
    border-radius: 10px;
    border: 2px solid black;

}

.signup{
    position: absolute;
    top: 375px;
    left: 110px;
    /* width: 80%; */
    /* height: 40px; */
    /* font-size: 25px; */
    font-family: monospace;
    /* border-radius: 10px; */
    /* border: 2px solid black;  */
}

.hr{
    position: absolute;
    width: 80%;
    left: 30px;
    top: 295px;
    border: 2px solid black;
}

.para-text{
    position: absolute;
    top: 120px;
    left: 45px;
    font-size: 20px;
    font-family: monospace;
}

.logout-btn{
    position: absolute;
    right: 20px;
}