<!-- <img src="../assets/LogIn.png" alt="" height="100%" width="80%"> -->
<!-- <app-header></app-header> -->
<!-- 
<div *ngIf="showUser">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout-btn" (click)="showUser = !showUser" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="showAdmin">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage">Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout-btn" (click)="showAdmin = !showAdmin" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <!-- <router-outlet></router-outlet> -->
  
<!-- </div> -->

<!-- <div *ngIf="!showUser && !showAdmin"> -->
  <div class="whole">
    <div class="right">
      <h2 class="text">LogIn</h2>
      <p class="para-text">Please LogIn to Continue</p>
      <form #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm)">
        <input class="email" type="email" name="userEmailEntered" #email = "ngModel" ngModel id="" placeholder="Enter Email" required>
        <!-- <br> -->
        <div class="email-error" *ngIf="email.invalid && email.touched">
          Email is Required.
        </div>
        <input class="password" type="text" name="userPasswordEntered" #password = "ngModel" ngModel id="" placeholder="Enter Password" required>
        <!-- <br> -->
        <div class="password-error" *ngIf="password.invalid && password.touched">
          Password is Required.
        </div>
        <div class="hr"></div>
        <button class="login" type="submit" [disabled]="loginForm.invalid">LogIn</button>
      </form>
      <button class="signup" (click)="signupClicked()">New User : SignUp</button>
    </div>
  </div>
<!-- </div> -->
