.card-whole{
    position: relative;
    width: 225px;
    height: 350px;
    background-color: #E5E4E2;
    border: 3px solid black;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.card-img{
    position: absolute;
    width: 100%;
    height: 200px;
    /* background-color: aquamarine; */
    border-radius: 15px 15px 0 0;
}

.card-body{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 200px;
    /* background-color: darkmagenta; */
}

.card-btn{
    position: absolute;
    width: 100%;
    height: 45px;
    top: 300px;
    /* background-color: grey; */
    border-radius: 0 0 15px 15px;
}

.product-name{
    position: absolute;
    width: 225px;
    height: 25px;
    /* background-color: rgb(212, 18, 18); */
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
}

.product-price{
    position: absolute;
    width: 225px;
    height: 25px;
    top: 20px;
    padding-top: 10px;
    padding-left: 15px;
    /* background-color: cornflowerblue; */
    
}

.product-description{
    position: absolute;
    width: 220px;
    height: 60px;
    top: 50px;
    padding-left: 15px;
    /* background-color: yellow; */
}